:root {
  --page-bg-color: #ffffff;
  --additional-bg-color: #1e2939;
  --decor-bg-color: #e5e5e5;
  --primary-text-color: #595959;
  --secondary-text-color: #fb6d3a;
  --third-text-color: #a8a8a8;
  --white-text-color: #ffffff;
  --black-text-color: #000000;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--page-bg-color);
  color: var(--primary-text-color);
  line-height: 1.22;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
}
.wrapper {
  display: flex;
}
.contacts {
  padding-top: 40px;
  min-width: 370px;
  background-color: var(--additional-bg-color);
  color: var(--white-text-color);
}
.contacts h2 {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.22;
}
.contacts__image {
  margin-bottom: 51px;
}
.contacts__info {
  margin-left: 40px;
}
.contacts__info .links {
  text-decoration: none;
  color: var(--white-text-color);
  opacity: 0.5;
}
.contacts__skills ul {
  padding-left: 20px;
}

.contacts__info > li:not(:last-child) {
  margin-bottom: 45px;
}
.without-disc {
  list-style-type: none;
}
.main {
  padding: 102px 88px;
}
.main h1,
.main h2,
.main h3 {
  color: var(--black-text-color);
}
.main b {
  margin-bottom: 20px;
  color: var(--black-text-color);
}
.main span {
  color: var(--secondary-text-color);
}
.main h1 {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 45px;
}
.main__descr {
  margin-bottom: 40px;
}
.main ol {
  padding-left: 20px;
  margin-bottom: 51px;
}
.main h2 {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 22px;
}
.main h3 {
  margin-bottom: 11px;
  font-weight: 700;
  font-size: 16px;
}
.main__work-list {
  padding-left: 20px;
  margin-bottom: 20px;
}
.main__terms {
  margin-bottom: 8px;
  color: var(--third-text-color);
  font-weight: 400;
  font-size: 12px;
}
.main__education b {
  margin-bottom: 12px;
}
