body {
    font-family: 'Montserrat', sans-serif;
    background-color: $page-bg-color;
    color: $primary-text-color;
    line-height: 1.22;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

address {
    font-style: normal;
}

.container {
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;

    margin-left: auto;
    margin-right: auto;
}

.wrapper {
    display: flex;
}

.without-disc {
    list-style-type: none;
}