    $page-bg-color: #ffffff;
    $additional-bg-color: #1e2939;
    $decor-bg-color: #e5e5e5;
    $primary-text-color: #595959;
    $secondary-text-color: #fb6d3a;
    $third-text-color: #a8a8a8;
    $white-text-color: #ffffff;
    $black-text-color: #000000;